.main-container {
  height: 60vh;
}
.product-list-container {
  width: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  border-radius: 5px;
}

.product-list-container:hover {
  border: 1px solid #00000033;
}

.product-img-thumb {
  height: 100px;
  width: 150px;
  object-fit: contain;
}

.product-title {
  text-align: center;
  font-size: 14px;
}

.product-price {
  display: block;
  text-align: center;
  margin: 10px;
  font-size: 12px;
  font-style: italic;
}
